@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.topic-card__number {
  left: 15px;
  top: 15px;
}

.card__edit-icon {
  right: 15px;
  top: 15px;
}

.card__delete-icon {
  right: 15px;
  bottom: 15px;
}

.topic-name-edit__icon {
  right: -20px;
  top: 8px;
}